{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Books</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'books/styles.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, intial-scale=1">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div id="title" style="background-color: rgb(253, 201, 201);">
            {% if home %}
              <h1 class="rainbowText-move" id="welcome-message">Welcome to Book Worm</h1>
            {% else %}
              <h1 id="welcome-message">Welcome to Book Worm</h1>
            {% endif %}
            
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand grow-2" href="{% url 'index' %}">{{ user.username }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link grow-2" href="{% url 'index' %}">All Books</a>
                </li>
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link grow-2" href="{% url 'mybooks' %}">My Books</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link grow-2" href="{% url 'bookchats' %}">Book Chats</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link grow-2" href="{% url 'logout' %}">Log Out</a>
                </li>
                
                {% else %}
                <li class="nav-item">
                    <a class="nav-link grow-2" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link grow-2" href="{% url 'register' %}">Register</a>
                </li>

                {% endif %}
                
              </ul>
              <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search Books" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

              
          <div class="body">
            {% block body %}
            {% endblock %}

          </div>

    </body>


</html>